﻿@model IEnumerable<CadastroAcademico.Models.UserJob>

@{
    ViewBag.Title = "Index";
}

<h2>Jobs entregados</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Job.Matter.Course.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job.Matter.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job.TypeTask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.file)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Job.Matter.Course.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job.Matter.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job.TypeTask)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.file))
                {
                <a href="@Url.Content(item.file)">
                    @Url.Content(item.file)
                </a>

            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </td>
    </tr>
}

</table>
