﻿@model CadastroAcademico.Models.UserJobManagerView

@{
    ViewBag.Title = "Edit";
}

<h2>Job</h2>


@using (Html.BeginForm("Edit","UserJobManagers",FormMethod.Post,new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Upload Job</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.JobId)
        @Html.HiddenFor(model => model.UserJobId)
        @Html.HiddenFor(model => model.filePath)
        @Html.HiddenFor(model => model.JobBeginDate)
        @Html.HiddenFor(model => model.JobEndDate)
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CourseName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CourseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MatterName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MatterName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model =>model.JobName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JobName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JobDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobBeginDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JobBeginDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobEndDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JobEndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TypeTask)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TypeTask)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.file)
            </dt>
            <dd>
                @if (!string.IsNullOrEmpty(Model.filePath))
                {
                    <a href="@Url.Content(Model.filePath)">
                        @Url.Content(Model.filePath)
                    </a>
                }
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.file)
            </dt>
            <dd>
                <span class="btn btn-default btn-file">
                    @Html.TextBoxFor(model => model.file, new { type="file" })
                </span>
            </dd>
        </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
