﻿@model IEnumerable<CadastroAcademico.Models.UserJobManagerView>

@{
    ViewBag.Title = "Jobs";
}

<style>
    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

        .modalDialog:target {
            opacity: 1;
            pointer-events: auto;
        }

        .modalDialog > div {
            width: 400px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
        }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

        .close:hover {
            background: #00d9ff;
        }
</style>
<h2>Jobs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobBeginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeTask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.file)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr @if (!((@DateTime.Now >= item.JobBeginDate) && (@DateTime.Now <= item.JobEndDate.AddDays(1)))) {  <text>bgcolor="#c3c3c3"</text>} >
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatterName)
        </td>
        <td> 
            @Html.DisplayFor(modelItem => item.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobBeginDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeTask)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.filePath))
            {
                <a href="@Url.Content(item.filePath)">
                    @Url.Content(item.filePath)
                </a>

            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </td>
        <td>
            @if ((@DateTime.Now >= item.JobBeginDate) && (@DateTime.Now <= item.JobEndDate.AddDays(1)))
            {
                
                @Html.ActionLink("subir fichero", "Edit", new { id = item.JobId })
               
                }
                else
                {
                
                    <a href="#openModal">subir fichero</a>

                    <div id="openModal" class="modalDialog">
                        <div>
                            <a href="#close" title="Close" class="close">X</a>
                            <h3>No puedes subir ningun fichero</h3>
                            <p>Las fechas de entrega eran desde @item.JobBeginDate.ToShortDateString() hasta @item.JobEndDate.ToShortDateString()</p>
                        </div>
                    </div>
            
                }

</td>
    </tr>
     }

</table>
