﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <p>
        <h1>Proyecto de Cadastro Academico</h1>
    </p>
    <p>
        <img src="~/Content/Images/university.jpg" />
    </p>
</div>
